<footer>

	<div class="footer-col footer-col-1">
		<ul class="contact-list">
			<li>
				<a href="{{ '/' | absolute_url }}">
					{{ site.title }}
				</a>
			</li>
			<li>
				<a href="mailto:{{ site.email }}">{{ site.email }}</a>
			</li>
		</ul>
	</div>

	<div class="footer-col footer-col-2">
		<ul class="social-media-list">
			<li>
				{% include icon-github.html username=site.github_username %}
			</li>
			<li>
				{% include icon-twitter.html username=site.twitter_username %}
			</li>
		</ul>
	</div>

	<div class="footer-col footer-col-3">
		<ul>
			<li>
				<a href="{{ site.site.url }}/feed.xml">
					{% include icon-feed.svg %}
					<span class="name-icon">feed</span>
				</a>
			</li>
		</ul>
	</div>

</footer> <!-- /site-footer -->
